.events-container {
  flex-wrap: wrap;
  display: flex;
  padding-top: 20px;
}

.event-card {
  border-radius: 10px;
  border: 3px solid $wood;
  height: 300px;
  margin: 20px 0 20px 5%;
  width: 42.5%;
}

.background {
  background-color: #FFF;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.overlay {
  background: rgba(255,255,255,.7);
  border-radius: 7px;
  height: 100%;
  left: 0;
}

.card-details {
  color: $royal;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.card-details p {
  padding: 0 20px;
}

.event-card h3 {
  font-family: $fancyFont;
  margin: 0;
  padding: 20px 20px 0 20px;
}

.return-btn {
  @include btn;
  border-radius: 10px;
  margin: 30px 0 60px 0;
}

.single {

  display: flex;
  justify-content: space-around;
  width: 100%;
}

.single-event-card {
  border-radius: 10px;
  border: 3px solid $wood;
  height: 300px;
  width: 42.5%;
}