.search-area {
  color: $darkPlat;
  padding-bottom: 40px;
}

.search-area h4 {
  cursor: default;
  font-size: 150%;
  font-style: italic;
}

.search-area p {
  cursor: default; 
  font-size: 120%;

}

.search-area span {
  text-decoration: underline;
  &:hover {
    color: $lavender;
    cursor: pointer;
    font-style: italic;
  }
}

.keywords {
  display: flex;
  justify-content: space-around;
}

ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 50%
}

.search-term {
  margin-bottom: 10px;
  &:hover {
    color: $lavender;
    cursor: pointer;
    font-style: italic;
    transform: scale(1.08)
  }
}

.list-head {
  cursor: default;
  font-family: $fancyFont;
  font-size: 150%;
  margin-bottom: 15px;
  text-decoration: underline;
}