.params {
  color: $darkPlat;
}

.params input {
  
}

.param-inputs {
  display: flex;
  // justify-content: space-around;
  
}

.location-inputs {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-left: 10%;
}

.date-inputs {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-right: 10%;
  margin-left: 10%;
}

label {
  text-align: left;
  line-height: 30px;
}

input {
  @include inputs;
  width: 100%;
  margin-bottom: 20px;
}