.params {
  color: $darkPlat;
}

.params h3 {
  cursor: default;
}

.params input {
  @include inputs;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.param-inputs {
  display: flex;
}

.location-inputs {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-left: 10%;
}

.date-inputs {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-right: 10%;
  margin-left: 10%;
}

label {
  text-align: left;
  line-height: 30px;
}