body {
  background-color: $darkBlue;
  font-family: $standardFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  @include links;
}

h1 {
  background-color: $greenBlue;
  border-bottom: 6px solid $wood;
  color: $platinum;
  font-family: $fancyFont;
  font-size: 320%;
  margin-top: 0; 
  padding: 40px 0;
}

.instructions {
  color: $darkPlat;
  cursor: default;
  margin-top: 50px;
  padding: 0 20px;
}

.instructions p {
  margin-bottom: 20px;
  line-height: 28px;
}