// buttons
@mixin btn {
  border: 0;
  height: 32px;
  position: relative;
  bottom: 1px;
  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }
}

// inputs
@mixin inputs {
  border: 0;
  height: 30px;
}

// links
@mixin links {
  text-decoration: none;
  &:link {
    color: inherit;
  }
  &:visited {
    color: inherit;
  }
}