// buttons
@mixin btn {
  border: 0;
  height: 37px;
  position: relative;
  bottom: 1px;
  background-color: $greyBlue;
  color: $almond;
  &:focus {
    outline: none;
    
  }

  &:hover {
    cursor: pointer;
  }
}

// inputs
@mixin inputs {
  background-color: $teal;
  border: 0;
  color: $wood;
  height: 35px;
  text-indent: 6px;
  &:focus {
    background-color: $teal;
    color: $greenBlue;
    outline: none;
  }
}

// links
@mixin links {
  text-decoration: none;
  &:link {
    color: inherit;
  }
  &:visited {
    color: inherit;
  }
}