// Fonts
$fancyFont: 'Courgette', cursive;
$standardFont: 'Libre Baskerville', serif;

// Colors
$darkBlue: #1B4079;
$greenBlue: #4D7C8A;
$platinum: #E0E0E2;
$darkPlat: #b4b4b5;
$aqua: #81D2C7;
$teal: #b5bfe8;
$greyBlue: #9a9fb5;
$pink: #EB5996;
$gold: #F5D25D;
$lavender: #A777FF;
$royal: #4a3756;
$almond: #F9EDCC;
$wood: #BC9B65;