// Fonts
$fancyFont: 'Courgette', cursive;
$standardFont: 'Libre Baskerville', serif;

// Colors
$darkBlue: #1B4079;
$greenBlue: #4D7C8A;
$platinum: #E0E0E2;
$aqua: #81D2C7;
$greyBlue: #B5BAD0;
$pink: #EB5996;
$gold: #F5D25D;
$lavender: #A777FF;
$royal: #440072;
$almond: #F9EDCC;
$wood: #BC9B65;